{% extends 'base.html' %}
{% block content %}
<head>
<style>
body {
    background:#a2b9bc
}
.navbar-brand {
    font-family: 'Satisfy', cursive;
}
.vote {
  text-align: center;
}
input[type=submit] {
  background-color:#878f99;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
input[type=choice] {
  background-color:#878f99;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

</style>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    	<div class="collapse navbar-collapse">
    		<div class = "navbar-brand" >{{ question.question_text }}</div>
    		<div class = "navbar-brand navbar-right">{{ question.pub_date }}</h1></div>
    		<span class = "navbar-brand navbar-right " ><a href="{% url 'polls:home' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></span>
    	</div>
	</div>
</nav>
{% if error_message %}<p class="vote"><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
<div class="vote">
{% csrf_token %}
{% for choice in choices %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}: {{ choice.votes }} votes</label><br />
{% endfor %}
<div class="vote">
<input type="submit" value="Vote" />
</div>
</div>
</form>


<form method="post" action="{% url 'polls:addChoice' question.id %}" >
<div class="vote">

{% csrf_token %}
    <input id="choice" type="text" name="choice" value="{{ choice }}" maxlength="200" style="width:200px">
	  <input id="address" type="hidden" name="address" value="" maxlength="200">
    <input id="phone" type="hidden" name="phone" value="" maxlength="200">
    <input id="placeId" type="hidden" name="placeId" value="" maxlength="200">
    <input type="submit" value="Add Choice">
	
</vote>
<script>
	var autocomplete;
	function activatePlacesSearch(){
		var sessionToken = new google.maps.places.AutocompleteSessionToken();
		var input = document.getElementById('choice');
		var options={types:['establishment']};
		autocomplete=new google.maps.places.Autocomplete(input,options);
		autocomplete.addListener('place_changed',onPlaceChanged);
	}
	function onPlaceChanged(){
		var place=autocomplete.getPlace();
		var inp_address=document.getElementById("address");
		inp_address.value=place.formatted_address;
    var inp_phone=document.getElementById("phone");
    inp_phone.value=place.formatted_phone_number;
    var inp_place_id=document.getElementById("placeId");
    inp_place_id.value=place.place_id;
    console.log(place);
    console.log(place.place_id);
    var inp_choice=document.getElementById("choice");
		choice.value=place.name;
		console.log(place.formatted_address);
	}
</script>
	
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQs1AhWqKf-H-TNVh6j1moFjTwBfAn97s&libraries=places&callback=activatePlacesSearch"></script>

</form>

{% endblock %}



