{% extends 'base.html' %}
{% block content %}
<head>
<style>
body {
    background:#a2b9bc
}
.navbar-brand {
    font-family: 'Satisfy', cursive;
}
.vote {
  text-align: center;
}
input[type=submit] {
  background-color:#878f99;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
input[type=choice] {
  background-color:#878f99;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

.chart-container {
    width: 400px;
    height:400px
}
.chart-container1 {
    width: 400px;
    height:400px
}
.chart-container2 {
    width: 400px;
    height:400px
}
.chart-container3 {
    width: 400px;
    height:400px
}
.chart-container4 {
    width: 400px;
    height:400px
}
.chart-container5 {
    width: 400px;
    height:400px
}
</style>


</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
    	<div class="collapse navbar-collapse">
    		<div class = "navbar-brand" >{{ question.question_text }}</div>
    		<div class = "navbar-brand navbar-right">{{ question.pub_date }}</h1></div>
    		<span class = "navbar-brand navbar-right " ><a href="{% url 'polls:home' %}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></span>
    	</div>
	</div>
</nav>
{% if error_message %}<p class="vote"><strong>{{ error_message }}</strong></p>{% endif %}

{% if question.is_active == False %}
	

		<h1> end of poll. The winner was {{winner.name}}</h1>
	

{% else %}

<h1>Deadline: {{ question.deadline }}</h1>
<p id="demo"></p>


<form action="{% url 'polls:vote' question.id %}" method="post">
<div class="vote">
{% csrf_token %}
{% for choice in choices %}
    
    <label for="choice{{ forloop.counter }}">
<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    	{{ choice.name }}: {{ choice.votes }} votes
    	
    	<br/>
    address: {{choice.place_id.address}} 
    <br/>
    rating: {{choice.place_id.rating}} 
    	<div class="hover_img">
    	{% load static %}
	     <a href="#">See tags word cloud<span><img src="{% static "" %}{{choice.place_id.place_id}}.png" alt="image" height="200" /></span></a>
		</div>
    </label>
    <br />
    <br />
{% endfor %}
<div class="vote">
<input type="submit" value="Vote" name="Vote"/>
<input type="submit" value="Delete" name="Delete"/>
</div>
</div>
</form>


<form method="post" action="{% url 'polls:addChoice' question.id %}" >
<div class="vote">

{% csrf_token %}
    <input id="choice" type="text" name="choice" value="{{ choice }}" maxlength="200" style="width:200px">
	  
    <input id="placeId" type="hidden" name="placeId" value="" maxlength="200">

    <input type="submit" value="Add Choice">
	
</vote>
<script>
	var deadline = "{{question.deadline}}";
	// April 16, 2019, 1 p.m.
	var deadline_date_list = deadline.split(",")
	var date = deadline_date_list[0];
	var year = deadline_date_list[1];
	var time = deadline_date_list[2];
	var digit = time.split(" ");
	var hour = digit[1].split(":")[0];
	var minute = ""
	if (digit[1].split(":").length > 1){
		minute = digit[1].split(":")[1];
	}
	if (digit[2] == "p.m."){
		hour = (parseInt(hour)+12).toString();
	}
	// console.log(date+ " " + year + " " + hour + ":" + minute + ":00:00");
	var countDownDate = new Date(date+ " " + year + " " + hour + ":" + minute + ":00:00").getTime();
	
	var x = setInterval(function() {

		// Get todays date and time
		var now = new Date().getTime();
		// console.log(now);
		// Find the distance between now and the count down date
		var distance = countDownDate - now;

		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Display the result in the element with id="demo"
		document.getElementById("demo").innerHTML = days + "d " + hours + "h "
		+ minutes + "m " + seconds + "s ";

		// If the count down is finished, write some text 
		if (distance < 0) {
			clearInterval(x);
			document.getElementById("demo").innerHTML = "EXPIRED";
		}
		}, 1000);



	var autocomplete;
	function activatePlacesSearch(){
		var sessionToken = new google.maps.places.AutocompleteSessionToken();
		var input = document.getElementById('choice');
		var options={types:['establishment']};
		autocomplete=new google.maps.places.Autocomplete(input,options);
		autocomplete.addListener('place_changed',onPlaceChanged);
	}
	function onPlaceChanged(){
		var place=autocomplete.getPlace();

		console.log(place);
	    var inp_place_id=document.getElementById("placeId");
	    inp_place_id.value=place.place_id;
	    console.log(inp_place_id);
	    console.log(place);
	    console.log(place.place_id);
    var inp_choice=document.getElementById("choice");

		choice.value=place.name;
		console.log(place.formatted_address);
		
		if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
			console.log(pos);
            
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
		
	}
</script>
	
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQs1AhWqKf-H-TNVh6j1moFjTwBfAn97s&libraries=places&callback=activatePlacesSearch"></script>

</form>

{% endif %}

<div class="chart-container">
<canvas id="myChart" width="200" height="200"></canvas>
</div>

<div class="chart-container2">
<canvas id="mvotedxChart" width="200" height="200"></canvas>
</div>

<div class="chart-container1">
<canvas id="mvistedChart" width="400" height="400"></canvas>
</div>

<div class="chart-container3">
<canvas id="mvisitedxChart" width="200" height="200"></canvas>
</div>


<div class="chart-container4">
<canvas id="priceChart" width="200" height="200"></canvas>
</div>

<div class="chart-container5">
<canvas id="ratingChart" width="200" height="200"></canvas>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
{% block jquery %}
	var endpoint='/api/data/'
	var defaultData=[]
	var labels=['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'];
	var gdata;
	$.ajax({
		method:"GET",
		url:endpoint,
		success: function(data){

			console.log(Object.keys(data))
			console.log(data)
			for (var key in data){
				if (key.length > 10){
					data[key.substring(0,9)] = data[key];
					delete data[key];
				}
			}
			gdata=data;
			var ctx = document.getElementById('myChart').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: Object.keys(data),
					datasets: [{
						label: 'votes',
						data: Object.values(data),
						backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: { 	beginAtZero: true } }] },title:{display:true,text:'Most Voted Restaurants'} } });
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})
	
	$.ajax({
		method:"GET",
		url:'/api/mvisited/',
		success: function(data){

			console.log(Object.keys(data))
			console.log(data)
			for (var key in data){
				if (key.length > 10){
					data[key.substring(0,9)] = data[key];
					delete data[key];
				}
			}
			gdata=data;
			var ctx = document.getElementById('mvistedChart').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: Object.keys(data),
					datasets: [{
						label: 'votes',
						data: Object.values(data),
						backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: { 	beginAtZero: true } }] },title:{display:true,text:'Most Visited Restaurants'} } });
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})
	$.ajax({
		method:"GET",
		url:'/api/mvotedx/',
		success: function(data){

			console.log(Object.keys(data))
			console.log(data)
			for (var key in data){
				if (key.length > 10){
					data[key.substring(0,9)] = data[key];
					delete data[key];
				}
			}
			gdata=data;
			var ctx = document.getElementById('mvotedxChart').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: Object.keys(data),
					datasets: [{
						label: 'votes',
						data: Object.values(data),
						backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: { 	beginAtZero: true } }] },title:{display:true,text:'Most Voted Past Week'} } });
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})
	$.ajax({
		method:"GET",
		url:'/api/mvisitedx/',
		success: function(data){

			console.log(Object.keys(data))
			console.log(data)
			for (var key in data){
				if (key.length > 10){
					data[key.substring(0,9)] = data[key];
					delete data[key];
				}
			}
			gdata=data;
			var ctx = document.getElementById('mvisitedxChart').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'pie',
				data: {
					labels: Object.keys(data),
					datasets: [{
						label: 'visits',
						data: Object.values(data),
						backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: { 	beginAtZero: true } }] },title:{display:true,text:'Most Visited Past Week'} } });
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})
	$.ajax({
		method:"GET",
		url:'/api/price/',
		success: function(data){

			console.log(Object.keys(data))
			console.log(data)
			for (var key in data){
				if (key.length > 10){
					data[key.substring(0,9)] = data[key];
					delete data[key];
				}
			}
			gdata=data;
			var ctx = document.getElementById('priceChart').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'doughnut',
				data: {
					labels: Object.keys(data),
					datasets: [{
						
						data: Object.values(data),
						backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: { 	beginAtZero: true } }] },title:{display:true,text:'Price Levels Visited'} } });
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})
	
	$.ajax({
		method:"GET",
		url:'/api/rating/',
		success: function(data){

			console.log(Object.keys(data))
			console.log(data)
			for (var key in data){
				if (key.length > 10){
					data[key.substring(0,9)] = data[key];
					delete data[key];
				}
			}
			gdata=data;
			var ctx = document.getElementById('ratingChart').getContext('2d');
			var myChart = new Chart(ctx, {
				type: 'doughnut',
				data: {
					labels: Object.keys(data),
					datasets: [{
						
						data: Object.values(data),
						backgroundColor: [ 'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)' ], borderColor: [ 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)' ], borderWidth: 1 }] }, options: { scales: { yAxes: [{ ticks: { 	beginAtZero: true } }] },title:{display:true,text:'Rating Tiers Visited'} } });
		},
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
	})
	

{% endblock %}
</script>

{% endblock %}



