{% extends 'home.html' %}

{% block polls %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
		<form method="post" action="{% url 'polls:delQuestion' question.id %}" >
			{% csrf_token %}
			<input type="submit" value="x">
		</form>
		<form method="get" action="{% url 'polls:edit' question.id %}" >
			{% csrf_token %}
			<input type="submit" value="edit">
		</form>
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
		
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<form method="post" action="{% url 'polls:addQuestion'%}" >
	{% csrf_token %}
	<input id="question" type="text" name="question" value="{{ question }}" maxlength="200">
	<input type="submit" value="Add Question">
</form>

{% endblock %}